obj/*.o
tests/*.o
unity/*.o

tests/attacks/test_attacks
tests/bitops/test_bitops
tests/chess/test_chess
tests/mate/test_mate
tests/gameops/test_gameops
tests/validate/test_validate

tests/output.c

tests/scratchpad/*

main
sample.txt
TODO.txt
