obj/*.o
tests/*.o
unity/*.o

tests/attacks/test_attacks
tests/bitops/test_bitops
tests/chess_init/test_chess_init
tests/gameops/test_gameops
tests/validate/test_validate
tests/chess/test_chess

tests/output.c

tests/scratchpad/*

main
sample.txt
TODO.txt
